In [17]:
# doc freq -> number of times the concerned term is present in all docs 
# idf = log( (total no of docs) / (doc freq)) -> inv doc freq
# tf = (total no of time term present in doc A) / (total no of tokens in doc A) -> term freq
# tf-idf => tf*idf

In [18]:
# sk_learn uses diff formulae -> add '1' both nr and dr and then also add '1' 
# why log ? -> to reduce effect of it -> doesnt matter much due to things being relative

# limitations ->
# 1. as n increased -> dimensionality and sparsity inc
# 2. doesnt capture reln bw words
# 3. doesnt address out of vocabulary problem

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
    "Thor eating pizza, Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tomorrow",
    "Tesla is announcing new model-3 tomorrow",
    "Google is announcing new pixel-6 tomorrow",
    "Microsoft is announcing new surface tomorrow",
    "Amazon is announcing new eco-dot tomorrow",
    "I am eating biryani and you are eating grapes"
]

In [20]:
v = TfidfVectorizer()
transformed_output = v.fit_transform(corpus)

In [21]:
print(v.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tomorrow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [22]:
# dir(v)

In [23]:
all_features = v.get_feature_names_out()
for word in all_features :
  idx = v.vocabulary_.get(word)
  print(f"{word} {v.idf_[idx]}")

already 2.386294361119891
am 2.386294361119891
amazon 2.386294361119891
and 2.386294361119891
announcing 1.2876820724517808
apple 2.386294361119891
are 2.386294361119891
ate 2.386294361119891
biryani 2.386294361119891
dot 2.386294361119891
eating 1.9808292530117262
eco 2.386294361119891
google 2.386294361119891
grapes 2.386294361119891
iphone 2.386294361119891
ironman 2.386294361119891
is 1.1335313926245225
loki 2.386294361119891
microsoft 2.386294361119891
model 2.386294361119891
new 1.2876820724517808
pixel 2.386294361119891
pizza 2.386294361119891
surface 2.386294361119891
tesla 2.386294361119891
thor 2.386294361119891
tomorrow 1.2876820724517808
you 2.386294361119891

In [24]:
# tf-idf score in transformed_output
corpus[:2]

['Thor eating pizza, Loki is eating pizza, Ironman ate pizza already',
 'Apple is announcing new iphone tomorrow']

In [25]:
transformed_output.toarray()[:2]

array([[0.24266547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24266547, 0.        , 0.        ,
        0.40286636, 0.        , 0.        , 0.        , 0.        ,
        0.24266547, 0.11527033, 0.24266547, 0.        , 0.        ,
        0.        , 0.        , 0.72799642, 0.        , 0.        ,
        0.24266547, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30652086,
        0.5680354 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5680354 ,
        0.        , 0.26982671, 0.        , 0.        , 0.        ,
        0.30652086, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30652086, 0.        ]])

In [26]:
# score of rare items -> high

In [41]:
import pandas as pd
df=pd.read_csv("ecommerceDataset.csv",engine="python",error_bad_lines=False,names = ["category","description"],header = None)

<ipython-input-41-a648f50b50ca>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df=pd.read_csv("ecommerceDataset.csv",engine="python",error_bad_lines=False,names = ["category","description"],header = None)
Skipping line 8097: unexpected end of data

In [42]:
# print(df.shape)
df.head()

    category                                        description
0  Household  Paper Plane Design Framed Wall Hanging Motivat...
1  Household  SAF 'Floral' Framed Painting (Wood, 30 inch x ...
2  Household  SAF 'UV Textured Modern Art Print Framed' Pain...
3  Household  SAF Flower Print Framed Painting (Synthetic, 1...
4  Household  Incredible Gifts India Wooden Happy Birthday U...

In [43]:
df.columns

Index(['category', 'description'], dtype='object')

In [44]:
df.category.value_counts()

Household    8096
Name: category, dtype: int64

In [ ]:
# sirf household wala hi import hua :/
# leaving here

Smol exercise

In [45]:
df_train = pd.read_csv('train.txt',sep = ';', names = ['comment', 'emotion'])

In [46]:
df_train.head()

                                             comment  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [47]:
df_test = pd.read_csv("test.txt",sep=";",names=['comment','emotion'])

In [48]:
df_test.head()

                                             comment  emotion
0  im feeling rather rotten so im not very ambiti...  sadness
1          im updating my blog because i feel shitty  sadness
2  i never make her separate from me because i do...  sadness
3  i left with my bouquet of red and yellow tulip...      joy
4    i was feeling a little vain when i did this one  sadness

In [49]:
df_val = pd.read_csv("val.txt",sep=";",names=['comment','emotion'])

In [50]:
df_val.head()

                                             comment  emotion
0  im feeling quite sad and sorry for myself but ...  sadness
1  i feel like i am still looking at a blank canv...  sadness
2                     i feel like a faithful servant     love
3                  i am just feeling cranky and blue    anger
4  i can have for a treat or if i am feeling festive      joy

In [51]:
print(df_train.emotion.value_counts())

joy         5362
sadness     4666
anger       2159
fear        1937
love        1304
surprise     572
Name: emotion, dtype: int64

In [52]:
print(df_test.emotion.value_counts())

joy         695
sadness     581
anger       275
fear        224
love        159
surprise     66
Name: emotion, dtype: int64

In [53]:
print(df_val.emotion.value_counts())

joy         704
sadness     550
anger       275
fear        212
love        178
surprise     81
Name: emotion, dtype: int64

In [54]:
df_train['map']=df_train.emotion.map({
    'joy':0,
    'sadness': 1,
    'anger': 2,
    'fear': 3,
    'love':4,
    'surprise':5
})

In [55]:
df_train.head()

                                             comment  emotion  map
0                            i didnt feel humiliated  sadness    1
1  i can go from feeling so hopeless to so damned...  sadness    1
2   im grabbing a minute to post i feel greedy wrong    anger    2
3  i am ever feeling nostalgic about the fireplac...     love    4
4                               i am feeling grouchy    anger    2

In [56]:
df_test['map']=df_train.emotion.map({
    'joy':0,
    'sadness': 1,
    'anger': 2,
    'fear': 3,
    'love':4,
    'surprise':5
})

In [57]:
df_test.head()

                                             comment  emotion  map
0  im feeling rather rotten so im not very ambiti...  sadness    1
1          im updating my blog because i feel shitty  sadness    1
2  i never make her separate from me because i do...  sadness    2
3  i left with my bouquet of red and yellow tulip...      joy    4
4    i was feeling a little vain when i did this one  sadness    2

In [58]:
df_val['map']=df_train.emotion.map({
    'joy':0,
    'sadness': 1,
    'anger': 2,
    'fear': 3,
    'love':4,
    'surprise':5
})

In [59]:
df_val.head()

                                             comment  emotion  map
0  im feeling quite sad and sorry for myself but ...  sadness    1
1  i feel like i am still looking at a blank canv...  sadness    1
2                     i feel like a faithful servant     love    2
3                  i am just feeling cranky and blue    anger    4
4  i can have for a treat or if i am feeling festive      joy    2

In [61]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(df_train['comment'],df_train['map'],test_size=0.2,random_state=51)

In [62]:
x_test.shape

(3200,)

In [63]:
x_train.shape

(12800,)

In [65]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [67]:
clf = Pipeline([
    ('vectorizer',TfidfVectorizer()),
    ('rf',RandomForestClassifier(n_estimators=50,criterion='entropy'))
])

In [68]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', TfidfVectorizer()),
                ('rf',
                 RandomForestClassifier(criterion='entropy', n_estimators=50))])

In [70]:
from sklearn.metrics import classification_report
y_pred = clf.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.92      0.84      1101
           1       0.87      0.81      0.84       911
           2       0.86      0.76      0.81       446
           3       0.84      0.75      0.79       381
           4       0.81      0.65      0.72       252
           5       0.72      0.65      0.69       109

    accuracy                           0.81      3200
   macro avg       0.81      0.76      0.78      3200
weighted avg       0.82      0.81      0.81      3200

Bulding model with pre-processed text

In [71]:


import spacy

# load english language model and create nlp object from it
nlp = spacy.load("en_core_web_sm") 


#use this utility function to get the preprocessed text data
def preprocess(text):
    # remove stop words and lemmatize the text
    doc = nlp(text)
    filtered_tokens = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    
    return " ".join(filtered_tokens)

In [73]:
df_train['pre_comment']=df_train['comment'].apply(preprocess)

In [74]:
x_train_,x_test_,y_train_,y_test_=train_test_split(df_train['pre_comment'],df_train['map'],test_size=0.2,random_state=51)
clf.fit(x_train_,y_train_)
y_pred_ = clf.predict(x_test_)
print(classification_report(y_test_,y_pred_))

              precision    recall  f1-score   support

           0       0.82      0.91      0.86      1101
           1       0.89      0.84      0.87       911
           2       0.87      0.83      0.85       446
           3       0.84      0.82      0.83       381
           4       0.78      0.66      0.72       252
           5       0.67      0.66      0.66       109

    accuracy                           0.84      3200
   macro avg       0.81      0.79      0.80      3200
weighted avg       0.84      0.84      0.84      3200

# *Processed data performed better*

In [ ]:
# word embedding in next notebook :)