In [9]:
#importing libraries 
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [10]:
#importing dataset
data_set = pd.read_csv("Data.csv")

In [11]:
data_set

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [12]:
# now we need to create a matrix of independent 
# and then of dependent 
X = data_set.iloc[:,:-1].values  # x is vector having independent variables 
# the first : - we take all the lines 
# the second : - we dont take the last one

In [13]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [14]:
y = data_set.iloc[:,3].values 
# vector of dependent variables - the 3rd column (0 based indexing)
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [16]:
# handling the missing values 
# 1. remove the lines - can be quite dangerous to remove this
# 2. take mean of the columns and replace missing value with it

# from sklearn.impute import SimpleImputer
# # sklearn - it contains libraries - libraries have classes and method 
# # Imputer is class
# imputer = SimpleImputer(missing_values = np.nan,strategy='mean' , axis=0)   # missing values are called NaN in the data   #imputer is object of Imputer class
# imputer = imputer.fit(x[:,1:3])  # the column numbers are there to select the columns with missing values
# # now imputer obj is now fitted to X
# # now replace values with mean in X
# x[:,1:3] = imputer.transform(x[:,1:3]) 

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan,strategy='mean' )   # missing values are called NaN in the data   #imputer is object of Imputer class
imputer = imputer.fit(X[:,1:3])
X[:,1:3] = imputer.transform(X[:,1:3]) 
print(X)
print(data_set)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
# # gfg
# X = pd.get_dummies(dataset,columns =['Country'])
# y =pd.get_dummies(dataset,columns=['Purchased'])
# X=X.drop(columns=['Purchased'])
# y=y.drop(columns=['Age','Salary','Country'])
# print(X)
# print(y)

In [ ]:
# X['Age'].fillna(X['Age'].mode(),inplace=True)
# X['Salary'].fillna(X['Salary'].mode(),inplace=True)
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
# x_train

In [ ]:
# #feature scaling
# # age , salary - numerical numbers - age and salary have very differ scale - salary in ten thousands and age in tens 
# # causes issues in ML models , because a lot of models are based on euclidean distance - lets say Age as x axis and Salary as y axis
# # the euclidean dist due to salary's high scale will be dominated by it 
# # standardization and normalization
# # standardization - x-mean/std devian
# # normailzation -  x-min(x)/max(x)-min(x)

# from sklearn.preprocessing import StandardScaler
# sc_X = StandardScaler()
# x_train=sc_X.fit_transform(x_train)
# x_test=sc_X.transform(x_test)  # we didnt fit because we want both train and test to be transformed in one only
# # do we need to scale dummy variables ??? -- already 0,1 
# # depends on context - if we scale it - nice , even if we dont - it wont break model
# print(x_train)
# print(x_test)