In [ ]:
# we will do Under-Sampling on the dataset
# highly imbalanced meaning :
            # lets say , there is categorical data - example : spam and not spam
            # now what if in the data set - spam mails are in lakhs whereas not spam mails are in hundereds
            # in such a case , the data set is said to be imbalanced 
            # it is imp to take care of such a data , since it may create problems in training models and so on

In [1]:
import numpy as np
import pandas as pd

credit_card_data = pd.read_csv('credit_data.csv')

In [2]:
# legit and fraud credit card  - classification problem
credit_card_data.head()

# class - 0,1
# 0 - legit
# 1 - fraud

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
# distribution of 2 classes :
credit_card_data['Class'].value_counts() # values in col with name 'Class'

0    284315
1       492
Name: Class, dtype: int64

In [4]:
# as it is evident - 2 lakh legit and 492 fraud - highly imbalanced

# separating the legit and fraudulent transaction
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [7]:
# under-sampling 

# building a sample dataset containing similar distribution of legit and fraudulent transactions
# number of fraud trans -> 492

legit_sample = legit.sample(n=492)  # will take 492 sample values from legit df and stored them in legit_sample df

print(legit_sample.shape)

(492, 31)

In [8]:
# concatenate the 2 dataframes
new_dataset = pd.concat([legit_sample,fraud],axis=0)  # joining legit and fraud; axis =0 -> vertical concat -> first 492 legit after that 492 fraud
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
7913,10962.0,1.261941,-0.043388,0.556850,0.013392,-0.339988,-0.034285,-0.530045,-0.025851,1.474959,...,-0.064624,0.061676,-0.134924,-0.469459,0.300052,1.063814,-0.091754,-0.011929,15.95,0
221582,142619.0,2.030204,0.058628,-1.773353,0.548085,0.040610,-1.519745,0.196163,-0.314503,0.812125,...,0.184456,0.603606,-0.024555,-0.126698,0.206870,-0.096480,-0.014846,-0.032104,19.17,0
74367,55542.0,-2.981424,0.195767,0.945239,-1.502295,-1.778615,-0.712619,-0.786286,1.300463,0.721760,...,0.351244,0.720059,-0.454142,0.587961,0.545835,-0.666719,-0.455973,-0.435559,67.16,0
136224,81605.0,-3.159634,2.729901,-0.254508,0.534839,-0.752304,-0.988450,0.166435,0.359230,0.947594,...,-0.007039,0.317478,0.041160,0.363802,0.067228,-0.381951,-0.151094,0.283224,9.22,0
163344,115861.0,2.020778,-1.153388,-0.599177,-0.839343,-1.003047,-0.320663,-0.872032,0.003515,-0.085711,...,-0.145520,-0.505439,0.322353,-0.368593,-0.489927,-0.578667,-0.006409,-0.046111,70.00,0

In [9]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [10]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
# now we have evenly distributed dataset and now if we use this to train modeel
# we will get better results